body {
  margin: 0;
  padding: 0;
}

.button-submit:hover {
  background-color: #1e90ff;
  color: #fff;
  border: 1px solid #1e90ff;
  border-radius: 7px;
  cursor: pointer;
}

.button-submit {
  color: #000000;
  border: 1px solid #2f2f30;
  border-radius: 7px;
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  filter: brightness(0.6);
  /* filter: blur(5px); */
  width: 100vw;
  height: 100vh;
}

.error {
  border: 1px solid red !important;
}

.inputCadastro {
  border-radius: 7px;
  border: 1px solid #6b6b6b65;

  padding: 5px;
  margin: 5px;

  width: 90%;

  font-size: 1.1rem;
  font-weight: 100;
  transition: 0.5s all;
}

.inputCadastro:focus {
  outline: none;

  box-shadow: 0 0 2px 1px #1e65ff;
  border: 1px solid #b7b7bd;
}
